html,
body {
  height: 100%;
}
a {
  text-decoration: none;
}
.main {
  padding: 15px 70px !important;
  @media screen and (max-width: 920px) {
    padding: 15px 0 !important;
  }
  .v-main__wrap {
    @media screen and (max-width: 650px) {
      text-align: center;
    }
    .article {
      width: 100%;
      margin: 0 auto !important;
    }
  }
}

body.no-overflow {
  overflow: hidden;
}

.mobile-menu {
  .v-overlay {
    z-index: 1000 !important;
  }
}
